### NAME: INISHA K
### DEPT: M.Sc DATA SCIENCE

# Innomatics Data Science Internship |  Entrance Test (Part 2 of 2) | Hackathon

In [3]:
import pandas as pd

In [5]:
DF=pd.read_csv("movies.csv")
DF

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [9]:
file_path = "movies.csv"
df = pd.read_csv(file_path)
print("Shape of 'movies.csv':", df.shape)

Shape of 'movies.csv': (9742, 3)

In [18]:
DF= pd.read_csv("ratings.csv")
DF

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [10]:
print("Shape of 'ratings.csv':", df.shape)

Shape of 'ratings.csv': (100836, 4)

In [11]:
unique_user_ids = df['userId'].nunique()
print("Number of unique userId in 'ratings.csv':", unique_user_ids)

Number of unique userId in 'ratings.csv': 610

In [12]:
ratings_file_path = "ratings.csv"
movies_file_path = "movies.csv"
ratings_df = pd.read_csv(ratings_file_path)
movies_df = pd.read_csv(movies_file_path)
merged_df = pd.merge(ratings_df, movies_df, on='movieId')
movie_ratings_count = merged_df.groupby('title')['rating'].count()
max_rated_movie = movie_ratings_count.idxmax()
max_ratings_count = movie_ratings_count.max()
print(f"The movie with the maximum number of ratings is '{max_rated_movie}' with {max_ratings_count} ratings.")

The movie with the maximum number of ratings is 'Forrest Gump (1994)' with 329 ratings.

In [13]:
tags_file_path = "tags.csv"
tags_df = pd.read_csv(tags_file_path)
movie_title = "Matrix, The (1999)"
filtered_tags = tags_df[tags_df['movieId'].isin(movies_df[movies_df['title'] == movie_title]['movieId'])]
unique_tags = filtered_tags['tag'].unique()
print(f"The unique tags submitted by users for '{movie_title}':")
for tag in unique_tags:
    print(tag)

The unique tags submitted by users for 'Matrix, The (1999)':
martial arts
sci-fi
alternate universe
philosophy
post apocalyptic

In [14]:
movie_title = "Terminator 2: Judgment Day (1991)"
filtered_ratings = ratings_df[ratings_df['movieId'].isin(movies_df[movies_df['title'] == movie_title]['movieId'])]
average_rating = filtered_ratings['rating'].mean()
print(f"The average user rating for '{movie_title}' is: {average_rating:.2f}")

The average user rating for 'Terminator 2: Judgment Day (1991)' is: 3.97

In [16]:
merged_df = pd.merge(ratings_df, movies_df, on='movieId')
average_ratings = merged_df.groupby('title')['rating'].mean()
most_popular_movie = average_ratings.idxmax()
highest_average_rating = average_ratings.max()
print(f"The most popular movie based on average user ratings is '{most_popular_movie}' with an average rating of {highest_average_rating:.2f}")

The most popular movie based on average user ratings is ''Salem's Lot (2004)' with an average rating of 5.00

In [17]:
ratings_count = merged_df.groupby('title')['rating'].count()
top5_movies = ratings_count.nlargest(5).index
print("Top 5 popular movies based on number of user ratings:")
for movie in top5_movies:
    print(movie)

Top 5 popular movies based on number of user ratings:
Forrest Gump (1994)
Shawshank Redemption, The (1994)
Pulp Fiction (1994)
Silence of the Lambs, The (1991)
Matrix, The (1999)

In [25]:
merged_df

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
100831,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller
100832,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama
100833,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller
100834,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller
100835,610,163981,3.5,1493850155,31 (2016),Horror

In [30]:
dataset_file_path = "links.csv"
df = pd.read_csv(dataset_file_path)
highest_imdb_movie_id = df.loc[df['imdbId'].idxmax()]['movieId']
print(f"The movieId of the movie with the highest IMDb rating is: {highest_imdb_movie_id}")

The movieId of the movie with the highest IMDb rating is: 193587.0

In [35]:
links_file_path = "links.csv"
movies_file_path = "movies.csv"
links_df = pd.read_csv(links_file_path)
movies_df = pd.read_csv(movies_file_path)
merged_df = pd.merge(links_df, movies_df, on='movieId')

In [36]:
sci_fi_movies = merged_df[merged_df['genres'].str.contains('Sci-Fi', case=False)]
highest_imdb_sci_fi_movie_id = sci_fi_movies.loc[sci_fi_movies['imdbId'].idxmax()]['movieId']
print(f"The movieId of the highest-rated Sci-Fi movie is: {highest_imdb_sci_fi_movie_id}")

The movieId of the highest-rated Sci-Fi movie is: 179053